<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-item>
      <ion-title size="large" color="dark">
        Recette de la tarte tatin aux abricots
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="dark">Recette de la tarte tatin aux abricots</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-item>
    <ion-button expand="block" color="primary">
      Ingrédients :
    </ion-button>
    <ion-button expand="block" color="warning" (click)="calculing()">
      Calcul quantité
    </ion-button>
  </ion-item>
  <br>
  <ion-label text-wrap color="primary">pour 4 personnes:</ion-label>
  <br>
  <ion-label text-wrap color="primary">1 Cuillère à soupe de caramel au beurre salé</ion-label>
  <br>
  <ion-label text-wrap color="primary">Abricots : 10 à 15 pièces</ion-label>
  <br>
  <ion-label text-wrap color="primary">Pâte feuilletée : 150 g</ion-label>
  <br>
  <ion-label text-wrap color="primary">1 Cuillère à soupe de cassonade</ion-label>
  <br>
  <ion-label text-wrap color="primary">Beurre demi-sel : 50 g</ion-label>
  <br>
  <ion-label text-wrap color="primary">Eclats de pistaches, noisettes et amandes</ion-label>
  <br>
  <ion-label text-wrap color="primary">1 Cuillère à soupe d’amandes effilées</ion-label>
  <br>
  <ion-item>
    <ion-button expand="block" color="primary">
      Mode opératoire :
    </ion-button>
  </ion-item>
  <br>
  <ion-label text-wrap color="primary">Chauffer le four en avance à 180° C.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Retirer les noyaux des abricots et les diviser en 2.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Graisser le moule au beurre et parsemer de cassonade.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Verser le caramel au beurre salé dans le moule.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Répartir les abricots assez serrés dans le fond du moule.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Superposer la pâte feuilletée puis mettre cette préparation au four pendant 20
    minutes.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Arroser un peu de caramel beurre salé sur le dessus.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Répartir la surface d’éclats de pistaches, de noisettes et amandes.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Enduire la surface de confiture d’abricots pour la brillance.</ion-label>
  <br>
  <ion-label text-wrap color="primary">Saupoudrer la surface de sucre glace avant de servir.</ion-label>
  <br>

  <br>
  <ion-button expand="block" color="primary" href="/home">
    Retour à la recette
  </ion-button>



</ion-content>