<ion-header>
    <ion-toolbar>
        <ion-item>
            <ion-back-button defaultHref="/home" texte="Home"></ion-back-button>
            <ion-title color="primary">règles du jeu</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-label floating color="secondary"> le jeu consiste à deviner le nombre choisi par le programme</ion-label>
    <br>
    <ion-label floating color="secondary"> le nombre est compris entre 0 et 100</ion-label>
    <br>
    <ion-label floating color="secondary"> vous disposez de 10 essais</ion-label>
</ion-content>