<ion-header>
  <ion-toolbar>
    <ion-title size="large">Calcul des quantité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label floating color="primary"> Nombre de personne :</ion-label>
    <ion-input #nbPersonne type="number" value="" readonly="false"></ion-input>
    <ion-button expand="block" color="warning" (click)="calculProportion(nbPersonne.value)">
      Calcul
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-input type="number" [(ngModel)]="caramel" readonly="true"></ion-input>
    <ion-label color="primary">Cuillère à soupe de caramel au beurre salé</ion-label>
  </ion-item>
  <br>

  <ion-label text-wrap color="primary">Abricots :</ion-label>
  <ion-input type="number" [(ngModel)]="abrimin" readonly="true"></ion-input>
  <ion-label> à </ion-label>
  <ion-input type="number" [(ngModel)]="abrimax" readonly="true"></ion-input>
  <ion-label> pièces</ion-label>
  <br>

  <ion-label text-wrap color="primary">Pâte feuilletée : </ion-label>
  <ion-input type="number" [(ngModel)]="patefeuille" readonly="true"></ion-input>
  <ion-label text-wrap color="primary"> g</ion-label>
  <br>
  <ion-input type="number" [(ngModel)]="cuilcasso" readonly="true"></ion-input>
  <ion-label text-wrap color="primary">1 Cuillère à soupe de cassonade</ion-label>
  <br>
  <ion-input type="number" [(ngModel)]="beurre" readonly="true"></ion-input>
  <ion-label text-wrap color="primary">Beurre demi-sel : 50 g</ion-label>
  <br>
  <ion-label text-wrap color="primary">Eclats de pistaches, noisettes et amandes</ion-label>
  <br>
  <ion-input type="number" [(ngModel)]="amandes" readonly="true"></ion-input>
  <ion-label text-wrap color="primary">1 Cuillère à soupe d’amandes effilées</ion-label>
  <br>
  <ion-button color="danger" (click)="dismiss()">Ok</ion-button>
</ion-content>