<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-item>
      <ion-title size="large" color="dark">
        Tarte tatin aux abricots facile et rapide
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="dark">Tarte tatin aux abricots facile et rapide</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div style="margin: 0 auto; width: 300px">
    <img src=" assets/img/tartetatin.jpg " alt="">
  </div>
  <ion-item>
    <ion-label text-wrap color="primary"> Voici donc une tarte tatin aux abricots, pleine de fruits, toute
      simple à
      préparer et avec le charme indémodable de la
      tatin, cette cuisson renversée qui J'aime beaucoup déguster la tarte tiède avec une glace comme une glace à la
      vanille
      bien sûr mais aussi une glace à la lavande.</ion-label>
  </ion-item>
  <ion-button expand="block" color="primary" href="/recettett">
    Voir la recette
  </ion-button>
  <br>
  <ion-button expand="block" color="primary" href="/pageinternet">
    Lien site recette
  </ion-button>
</ion-content>