<ion-header>
  <ion-toolbar>
    <ion-title>Lien site de recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="https://www.750g.com/recettes_patisserie.htm">https://www.750g.com/recettes_patisserie.htm</a>
  <br>
  <br>
  <a href="https://www.marmiton.org/dossier-patisserie/">https://www.marmiton.org/dossier-patisserie/</a>
  <br>
  <br>
  <a
    href="https://www.cuisineaz.com/categories/desserts/patisseries-cat48754">https://www.cuisineaz.com/categories/desserts/patisseries-cat48754</a>
  <br>
  <br>
  <a
    href="https://www.atelierdeschefs.fr/fr/recettes-de-patisserie.php">https://www.atelierdeschefs.fr/fr/recettes-de-patisserie.php</a>
  <br>
  <br>
  <a href="https://www.patisserie-gourmande.fr/">https://www.patisserie-gourmande.fr/</a>
  <br>
  <br>
  <a href="https://mapatisserie.fr/">https://mapatisserie.fr/</a>
  <br>
  <br>
  <ion-button expand="block" color="primary" href="/home">
    Retour à la recette
  </ion-button>
</ion-content>